// Mobile
@media screen and (max-width: 739px) {
    .nav {
        &-item {
            &:last-child {
                .nav {
                    &-link {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .navbar {
        &-collapse {
            z-index: 1;
            background-color: #f1f1f1;
            margin: auto -25px;
        }
        &_cart {
            padding: 6px 152px !important;
            width: 100vw !important;
            height: 60px !important;
        }
    }

    .main {
        .title {
            font-size: 1.6rem;
        }
        &-cmt {
            padding: 0 15px;
            img {
                width: 100%;
            }
            .user {
                &-cmt {
                    width: 100% !important;
                    &__item {
                        &:nth-child(1) {
                            flex-direction: column;
                            align-items: flex-start !important;
                        }
                        .user {
                            &-bought {
                                img {
                                    width: auto;
                                }
                            }
                        }
                        .user {
                            &__not-auth {
                                margin-bottom: 10px;
                            }
                        }
                        .tag {
                            &-feature {
                                &__item {
                                    &:nth-child(1) {
                                        margin-right: 41vw;
                                        line-height: 38px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-slider {
            .h3bb {
                padding: 0 10px;
            }
        }
        &-review {
            margin: 0 5px;
        }
        &-photo {
            &__title {
                flex-direction: column;
                a {
                    margin-left: 0 !important;
                }
            }
            &__slider {
                #lightgallery {
                    height: auto !important;
                }
            }
        }
        &-masonry {
            padding: 0 15px;
            &__content {
                @extend %fix-col;
                height: 30em;
            }
            &__img {
                @extend %fix-col;
                padding-left: 0 !important;
            }
        }
        &-info {
            &__logo {
                padding-left: 15px !important;
            }
        }
        &-content {
            &__item {
                padding-left: 15px !important;
            }
            .carousel {
                .slick {
                    &-prev, &-next {
                        left: 12px;
                        width: 6% !important;
                    }
                    &-prev {
                        // top: 53vh !important;
                        top: 42.7rem !important;
                        left: 6px;
                        transform: rotate(-90deg);
                    }
                    &-next {
                        transform: rotate(-90deg);
                        bottom: -52px !important;
                        // left: 43vh;
                        left: 35rem;
                    }
                }
                &-thumb {
                    .slick {
                        &-list {
                            .slick {
                                &-track {
                                    display: flex;
                                    width: 20% !important;
                                    left: -32vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-carousel {
            .h3bb {
                margin: 22px !important;
            }
            .carousel {
                &__item {
                    &-main {
                        .slick {
                            &-prev, &-next {
                                top: 20.7vh !important;
                            }
                        }
                        a {
                            &:nth-child(2), &:nth-child(6) {
                                &::before {
                                    width: 26px !important;
                                    height: 27px !important;
                                    background-size: 16px !important;
                                    bottom: 64px !important;
                                    left: 7px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header {
        &-logo {
            width: 8em;
        }
    }

    .thumb {
        &-img {
            flex-direction: row;
            width: 100%;
        }
    }

    .column {
        opacity: 0;
        display: none;
    }
    
    .next, .prev {
        width: 14%;
    }
    
    .fa {
        &-chevron {
            &-left, &-right {
                display: block !important;
                top: -9em;
                position: absolute;
                font-size: 3rem;
            }
            &-left {
                left: 0.8em;
            }
            &-right {
                right: 0.8em;
            }
            &-up {
                display: none;
            }
            &-down {
                display: none;
            }
        }
    }

    .numbertext {
        bottom: 2% !important;
        font-size: 17px !important;
    }

    .body {
        &_review {
            width: 50% !important;
        }
        &_address {
            margin-top: 10px;
        }
        &_ship {
            flex-wrap: wrap;
            &--item {
                span {
                    &:last-child {
                        margin-left: 5px !important;
                        line-height: 32px !important;
                    }
                }
            }
            &--active {
                margin-left: 0 !important;
            }
        }
        &_more {
            flex-direction: column;
            a {
                width: 100%;
                padding-left: 70px;
                &:nth-child(2) {
                    padding-left: 0 !important;
                    text-align: center;
                }
            }
            &--item {
                span {
                    &:last-child {
                        bottom: 3.9em !important;
                        left: 16.5em !important;
                    }
                }
            }
        }
        &_error {
            font-size: 1.6rem !important;
            margin-left: 0 !important;
            span {
                img {
                    width: 9%;
                }
            }
        }
    }
    .review {
        &__item {
            &:first-child {
                @extend %fix-col;
            }
            &-30k {
                &--img {
                    text-align: center;
                }
            }
            &-rating {
                &--star {
                    &-black {
                        width: 18%;
                    }
                }
                &--progress {
                    width: 32%;
                }
                &--percent {
                    width: 19%;
                }
                &--bb2 {
                    width: 28%;
                }
            }
        }
    }
    .progress {
        &-mini {
            width: 45% !important;
        }
    }

    .footer {
        &__company {
            &--item {
                &:last-child {
                    text-align: center;
                }
            }
        }
        &__general {
            flex-direction: column;
            height: auto !important;
            padding: 20px 0;
            span {
                opacity: 0;
            }
        }
    }

    .slider {
        &_item {
            &-main {
                a {
                    &:nth-child(2), &:nth-child(6) {
                        &::before {
                            width: 30px !important;
                            height: 30px !important;
                            background-size: 20px !important;
                            top: 60px;
                        }
                    }
                }
            }
        }
    }

    #lightgallery {
        justify-content: center !important;
        a {
            margin-bottom: 10px;
            &:nth-child(1), &:nth-child(2),
            &:nth-child(3), &:nth-child(4) {
                display: none;
            }
        }
    }
    //Extend
    %fix-col {
        max-width: none !important;
        flex: none !important;
    }
}

//Tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .nav-item {
        &:last-child {
            .nav-link {
                padding: 0;
            }
        }
    }
    .navbar {
        &-collapse {
            z-index: 2;
            background-color: #f1f1f1;
            margin: auto -50px;
        }
        &_cart {
            padding: 4px 350px !important;
            width: 100vw !important;
            height: 51px !important;
        }
    }
    .main {
        &-content {
            .carousel {
                &-thumb {
                    margin-top: 0 !important;
                    &__item {
                        width: 81.5% !important;
                    }
                }
                &__item {
                    img {
                        height: 31.1vh;
                    }
                    .body {
                        &_review {
                            width: 50%;
                        }
                    }
                }
                .slick {
                    &-prev, &-next {
                        width: 8% !important;
                        right: -38px !important;
                    }
                    &-prev {
                        top: -14px !important;
                    }
                }
            }
            &__item {
                .body {
                    &_review {
                        width: 50%;
                    }
                }
            }
        }
        &-carousel {
            .carousel {
                &__item {
                    &-main {
                        .slick {
                            &-prev, &-next {
                                top: 5vh !important;
                            }
                        }
                    }
                }
            }
        }
        &-review {
            .review__item {
                &-30k {
                    flex-direction: column;
                    margin: 0 auto;
                    &--img {
                        margin-left: auto;
                        max-width: 100%;
                        text-align: center;
                        padding-top: 5px;
                    }
                    &--content {
                        max-width: 100%;
                        text-align: center;
                        padding: 0;
                        line-height: 20px;
                    }
                    &--now {
                        margin: 0 auto;
                    }
                }
                &-rating {
                    //padding-top: 15px;
                    padding: 0;
                    &--bb1 {
                        font-size: 1.41rem;
                    }
                    &--star {
                        span {
                            &:first-child {
                                font-size: 2.6rem;
                            }
                            &:last-child {
                                font-size: 1.4rem;
                                left: 9rem;
                                top: 4rem;
                            }
                        }
                    }
                    &--star-black {
                        max-width: 22%;
                        flex: 0 0 22%;
                    }
                    &--progress {
                        max-width: 24%;
                        margin-top: 10px;
                        .progress {
                            margin-bottom: 30px;
                        }
                    }
                    &--percent {
                        padding: 0 0 0 8px;
                        margin-right: 8px;
                        margin-top: 16px;
                        p {
                        margin-right: -3px;
                        margin-bottom: 34px;
                        }
                    }
                    &--bb2 {
                        flex: 0 0 28%;
                        max-width: 28%;
                        margin-top: 2px;
                        p {
                            margin-bottom: 6px;
                        }
                    }
                }
                &:first-child {
                    color: red;
                }
                &:nth-child(2) {
                    display: flex;
                    align-items: center;
                    line-height: 40px;
                }
                &:last-child {
                    font-size: 1.2rem;
                    padding: 0 10px;
                    line-height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                &-criteria {
                    padding-left: 14px;
                    li {
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
                    &--cool {
                        .progress {
                            &-mini {
                                width: 24%;
                            }
                        }
                    }
                }
            }
        }
        &-cmt {
            .user {
                &-cmt {
                    width: 100% !important;
                }
            }
        }
        &-masonry {
            &__content {
                padding-left: 30px !important;
                .h4bb {
                    width: 100% !important;
                }
            }
        }
        &-photo {
            &__slider {
                #lightgallery {
                    height: auto !important;
                    a {
                        margin-bottom: 10px;
                        &:nth-child(6), 
                        &:nth-child(7), 
                        &:nth-child(8) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .body {
        &_select {
            .row {
                .col-md-8 {
                    padding-left: 0;
                }
            }
            .body {
                &_num {
                    &-order {
                        p {
                            font-size: 1.24rem !important;
                        }
                        &--item {
                            form {
                                input {
                                    &:nth-child(2) {
                                        padding-left: 6px;
                                        padding-right: 6px;
                                    }
                                    &:nth-child(1),
                                    &:nth-child(2),
                                    &:nth-child(3) {
                                        height: 32px;
                                        line-height: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                &_address {
                    &--item {
                        height: 32px !important;
                        line-height: 28px !important;
                        font-size: 1.1rem !important;
                        padding-left: 0px !important;
                        form {
                            line-height: 30px;
                            input {
                                padding: 0;
                                &:nth-child(2), 
                                &:nth-child(3), 
                                &:nth-child(4) {
                                    margin-top: 0 !important;
                                }
                            }
                        }
                    }
                    p {
                        font-size: 1.24rem !important;
                    }
                }
            }
        }
        &_ship {
            &--item {
                font-size: 0.86rem !important;
                &:nth-child(2) {
                    span {
                        &:nth-child(2) {
                            width: 62% !important;
                        }
                    }
                }
            }
        }
        &_more {
            &--item {
                padding-left: 14px !important;
                width: 60% !important;
                span {
                    &:last-child {
                        left: 11.7em !important;
                        bottom: 1.1em !important;
                    }
                }
            }
        }
        &_error {
            margin-left: 25px !important;
        }
    }
    .footer {
        &__general {
            font-size: 1rem !important;
            span {
                margin: 0 5px !important;
            }
        }
    }
}

//Laptop
@media screen and (width: 1024px) {
    .main {
        &-content {
            .carousel {
                .slick {
                    &-prev, &-next {
                        right: -46px !important;
                        width: 6% !important;
                    }
                    &-prev, {
                        top: -15px !important;
                    }
                }
                &-thumb {
                    margin-top: 0 !important;
                }
                &__item {
                    img {
                        height: 77vh;
                    }
                }
            }
            &__item {
                .body {
                    &_address {
                        &--item {
                            padding-left: 10px !important;
                        }
                    }
                    &_ship {
                        &--item {
                            span {
                                &:last-child {
                                    width: 62%;
                                }
                            }
                            &:nth-child(2) {
                                span {
                                    &:nth-child(2) {
                                        width: 69%;
                                    }
                                }
                            }
                        }
                    }
                    &_more {
                        &--item {
                            padding-left: 12px;
                            span {
                                &:last-child {
                                    left: 11.7em;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-review {
            .review {
                &__item {
                    &-30k {
                        justify-content: space-between;
                        margin-top: 35px;
                        &--now {
                            margin: 0 auto;
                        }
                    }
                    &-rating {
                        padding: 25px 0 0 0;
                        &--star {
                            span {
                                &:last-child {
                                    top: 5.5rem;
                                }
                            }
                        }
                        &--percent {
                            flex: 0 0 10%;
                            max-width: 10%;
                            padding-right: 0;
                            padding-left: 5px;
                        }
                        &--bb2 {
                            padding-left: 14px;
                        }
                    }
                    &-criteria {
                        &--cool {
                            .progress {
                                &-mini {
                                    width: 44%;
                                }
                            }
                        }
                        li {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        &-photo {
            &__slider {
                #lightgallery {
                    a {
                        margin-right: 4px !important;
                        &:nth-child(8),
                        &:last-child {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}